@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

// el diseño parte desde first mobil design
body,html{
    padding : 0 ;
    margin :0;
    background: whitesmoke;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif !important;
}
// trabajo con el header

header{
    padding: 2em;
    width: 100%;
    height: 30vh;

    .container{
        margin: 0 auto;
        text-align: center;
        width: 70vw;

        h2{
            font-size: 2em;
        }

        p{
            font-size: .85em;
            margin: 10px auto;
        }

        a{
            display: block;
            width: 250px;
            margin: 0 auto;
            text-decoration: none;
            color: #0f0f0f;
            padding: 10px 30px;
        }

        .redes{
            width: 150px;
            display: grid;
            grid-template-columns: repeat(auto-fit,minmax(50px,1fr));  
            grid-template-rows: 1fr;         
            margin: 3% auto;
            
            i{
              
                cursor: pointer;
                display: block;
                font-size: 1.6em;

            }

        
        }
    }
}

// tabajo con el main
main{
    max-width: 90vw;
    display: grid;
    margin: 5% auto;
    
    
    img{
        width: 100%;
        margin: 5% auto;
        display: block;
    }
}

@media screen and(min-width : 768px){


    main{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
      
        
        img{
            width: 100%;
            padding: .5em;
            display: block;
        }
    }

}

